/**
 * This CSS stylesheet is separated in sections
 */

/**
 * Relative to the map
 */

@keyframes opacityAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ghg_legend {
  padding-left: 10px;
  padding-right: 20px;
  line-height: 25px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px 'Sensa Sans', sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.map-container {
  margin-top: 1em;
  flex: 6;
}

#map {
  height: 70vh;
  width: 100%;
  border-radius: 15px;
}

body {
  background-color: #ababab;
  font-family: 'Sensa Sans', sans-serif;
  padding: 8em;
  padding-top: 2em;
}

.header-section {
  flex: 1; text-align: justify;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1em;
}

.header-section > div {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h1{
  text-align: center;
  color: white;
}

h2 {
  font-size: medium;
  text-align: center;
  color: white;
}

.first-screen {
  animation: 2s ease-in 0s 1 opacityAppear;
  margin-top: 2em;
  flex-direction: row;
}

#current_year {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #525252
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #919191;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #616060;
  cursor: pointer;
}

/**
 * Relative to the barplots
 */

.modal-content {
  position: relative;
  background-color: #c4c2c2;
}

.modal-header{
  background-color: white;

  width: 1000px;
  height: 20px;
  position: absolute;
  margin: -10px +400px -500px -250px;
}

.modal-body {
  background-color: #333;

  width: 1000px;
  height: 650px;
  position: absolute;
  margin: +20px +400px -200px -250px;
}

#sectors_chart{
    margin: auto;
    width: 50%; /* set width to 50% of page width */
    float: left; /* Make the element go to the left */
}
#gases_chart{
    margin: auto;
    width: 50%; /* set width to 50% of page width */
    float: right; /* Make the element go to the right */
}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.modal-title {
  font-weight: bold;
}

.axisWhite line {
  stroke: white;
}

.axisWhite path {
  stroke: white;
}

.axisWhite text {fill: white;}

.rotated_label {
  transform: translateY(38px) rotate(-65deg) ;
}

legend {
  font-weight: bold;
}

/**
 * Relative to the ghg counter
 */

.counter_value {
  font-size: 3.5rem;
  font-weight: bolder;
}

.counter_units {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 5px;
}

.counter_title {
  opacity: 0.75;
  font-size: 0.8rem;
}

.counter {
  text-align: center;
}

/**
 * Relative to the navigation bar
 */

/* Add a dark background color to the top navigation */
.navigation_bar {
  background-color: #333;
  overflow: hidden;
  border-radius: 15px;
}

/* Style the links inside the navigation bar */
.navigation_bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}

/* Change the color of links on hover */
.navigation_bar a:hover {
  background-color: #D5DADC;
  color: black;
}

/* Add a color to the active/current link */
.navigation_bar a.active {
  background-color: #b50b0b;
  color: white;
}

/**
 * Relative to the popup pages (not implemented yet)
 */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/**
 * Relative to the member names
 */

.img_container {list-style: none}
.img_container li {list-style: none; display: inline;}
.img_container img { vertical-align: middle; padding: 5px}

/**
 * Relative to the news page
 */

/* .news-image {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add a shadow effect 
  border-radius: 50px; /* Add rounded borders 
}*/

/* .single-news {
  margin-bottom: 20px; /* Add a bottom margin to create a gap 
  padding: 10px; /* Add padding for spacing within the news articles 
} */

.single-news {
  margin-bottom: 20px;
  padding: 10px;
}

.single-news .col-4 {
  display: flex;
  align-items: center;
}

.single-news .col-4 img {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.single-news .col-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.single-news h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.single-news small {
  font-size: 36px;
  color: #95BB72;
}

.single-news p {
  margin: 10px 0;
}

.single-news a {
  width: 30%;
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.single-news a:hover {
  background-color: #0056b3;
}